[submodule "code/cli"]
	path = code/cli
	url = git@github.com:lvshiwei66/tokenmofang-cli.git
[submodule "code/api"]
	path = code/api
	url = git@github.com:lvshiwei66/tokenmofang-api.git
[submodule "pazi"]
	path = pazi
	url = git@github.com:lvshiwei66/pazi.git
