[submodule "code/cli"]
	path = code/cli
	url = git@github.com:lvshiwei66/tokenmofang-cli.git
	branch = dev
[submodule "code/api"]
	path = code/api
	url = git@github.com:lvshiwei66/tokenmofang-api.git
[submodule "agent/pazi"]
	path = agent/pazi
	url = git@github.com:lvshiwei66/tokenmofang-pazi.git
